body{
  background-image: url(bg.png) !important;
  background-size: cover !important;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

/* background image */
.message-section-area{
  background-image: url(bg.png) !important;
  background-size: cover !important;
}

/* headers */
.header-v2{
  background-color: black !important;
}
.header-v2-top-left-text{
  color: white !important;
}
/* hsl */
.hsl-bubble-text{
  background-color: white !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  /* box-shadow: 0px 1px 2px #26000000 !important; */
  /* box-shadow: 0px 1px 2px 0px #26000015 !important; */
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 15%) !important;
  padding: 8px !important;
  border: 0px solid #e6e6e6 !important;
}

.message-section-message-row.from-business
.hsl-bubble-text{
  background-color: white !important;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  font-family: Roboto-Regular !important;
}

/* .hsl-bubble-text{
  padding: 12px !important;
} */

.from-user
.hsl-bubble-text{
  background-color: #0d802e !important;
  color: white !important;
  /* border: 1px solid #e6e6e6 !important; */
  font-family: Roboto-Regular !important;
}


.hsl-bubble-text.v2{
  /* color: #4d4d4d; */
     color: #1A1A1A;
}

/* quick reply */
.quick-reply-wrapper{
  margin-left: 2.6rem !important;
}

.quick-reply-option-text{
  padding: 12px !important;
}

.quick-reply-stacked{
  justify-content: unset !important;
}
.quick-reply-option {
  background-color: #4d4d4d !important;
  border-radius: 4px !important;
  height: 36px !important;
  margin-bottom: 8px !important
}

.message-section-messages{
  padding: 0 9px !important;
}

.message-section-message-row.from-business .hsl-bubble::before,
.message-section-message-row.from-business .hsl.button::before,
.message-section-message-row.from-business .hsl.carousel::before{
  content: "" !important;
  background-size: 35px 35px !important;
  background-image: url(Dream11.png) !important;
  width: 36px !important;
  height: 30px !important;
  background-repeat: no-repeat !important;
  margin-bottom: 0rem !important;
  border-radius: 50%;
  display: block !important;
}

.message-section-message-row.from-business .hsl.carousel::before{
  position: unset !important;
  opacity: 1 !important;
}

.message-section-message-row.from-business .hsl-bubble,
.message-section-message-row.from-business .hsl.button,
.message-section-message-row.from-business .hsl.carousel{
  /* flex-wrap: unset !important;
  align-items: flex-end !important; */
  display: flex !important;
  align-items: flex-end !important;
}

/* text area at bottom */
.composer.v2 {
  border: unset !important;
    --primary-color: unset !important;
    --placeholder-color: unset!important;
    --background-color: unset !important;
    background-color: unset !important;
    height: 39px !important;
    color: unset !important;


    padding: 9px !important;
    transition: unset !important;
    box-shadow: none !important;
}

.composer-text-area.v2{
  overflow: hidden !important;
  font-family: Roboto-Regular !important;
}

/* .composer {
  border: unset !important;
    --primary-color: #3498db !important;
    --placeholder-color: !important;
    --background-color: #f4f9fd !important;
    background-color: unset;
    height: 35px !important;
    color: unset !important;


    padding: unset !important;
    transition: background-color 200ms linear !important;
    box-shadow: none !important;
} */

.composer-text-area{
  border: 2px solid #f7f7f7 !important;
    border-radius: 52px !important;
    --primary-color: #dddddd !important;
    --placeholder-color: #7d7d7d !important;
    --background-color: #f7f7f7 !important;
    background-color: #f7f7f7 !important;
    height: 36px !important;
    color: #424141 !important;


    padding: 8px 8px 3px 8px !important;
    transition: background-color 200ms linear !important;
    box-shadow: none !important;
}

.composer-icon.right{
  border-radius: 15px !important;
  border: 1px solid #dddddd !important;
  background-color: #dddddd !important;
}

.composer-icon.right svg path{
  fill: white !important;
}

/* taskbox */
.taskbox-new-tasks{
  display: flex !important;
  flex-wrap: wrap !important;
  padding: unset !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 95% !important;
}

.taskbox-new-tasks .task-new.title{ 
  --primary-color: white !important;
  --primary-color-overlay: #4d4d4d !important;
  background-color:#4d4d4d !important;
  /* margin: 8px 0px 0px 8px !important; */
  margin: 8px 4px 0px 4px !important;
  border-radius: 7px !important;
  height: 28px !important;
  /* box-shadow: 0px 2px 2px 0px #33000020; */
  box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 20%) !important;
  padding: 6px 12px !important;
}

.task-new-icon{
  display: none !important;
}

.taskbox-new-body{
  overflow: hidden !important;
}

.taskbox-new-body.active{
  margin-bottom: 19px !important;
}

.taskbox-new-CTA.active::before{
  content: 'Choose from the topic below to begin chat';
  font-family: Roboto-Regular !important;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: #797979;
  padding: 13px 5px 0px 3px !important;
  
}

.taskbox-new-CTA, .taskbox-new-body, .taskbox-new-overlay{
  transition: 0s ease-out !important;
}
.taskbox-new-body.active{
  transition-duration: 0s !important;
} 

.taskbox-new-CTA::before{
  content: '';
  font-family: "Noto Sans Devanagari", "Noto Sans Tamil", "Noto Sans", sans-serif !important;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: #797979;
}

span.taskbox-new-CTA-text.left{
  display: none;
}

.message-section-message-button-actionables {
  padding: 8px !important;
}

.message-section-message-button-actionable{
  background-color: #4d4d4d !important;
  border-radius: 4px !important;
  /* padding: 6px 12px !important; */
  padding: 8.5px 12px !important;
  height: 36px !important;
  font-size: 14px !important;
  font-family: Roboto-Regular !important;
}

.hsl-actionable-text.v2{
  color: white !important;
  font-family: Roboto-Regular !important;
}

.hsl-button.message-section-message-button{
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.task-new.suggestion {
  width: 100%;
}

@media screen and (max-width: 1024px){
  .taskbox-new-CTA.active
  .composer-icon.right{
    bottom: 6vh !important;
  }

  .taskbox-new-CTA
  .composer-icon.right{
    bottom: 6vh !important;
  }
}

/* menu task button */
.taskbox-new-CTA.active
.composer-icon.right{
  position: fixed;
  /* top: 28rem; */
  /* bottom: 4.6vh !important; */
  bottom: 3vh !important;
  /* margin: unset; */
  min-width: 32px !important
}

.taskbox-new-CTA
.composer-icon.right{
  position: fixed;
  /* top: 28rem; */
  min-width: 32px !important;
  /* bottom: 4.6vh !important; */
  bottom: 3vh !important;
  margin: unset;
  border-radius: unset !important;
  background-color: unset !important;
  border: unset !important;
  margin-left: 1px;
}

.composer-wrapper.v2{
  padding: 0px 10px 13px 0px !important;
  /* padding: unset !important; */
  width: 88%;
  position: relative;
  left: 3.1rem;
}

.taskbox-new-CTA 
.composer-icon svg{
  display: none;
}

.taskbox-new-CTA.active
span.composer-icon.right::before {
  content: "" !important;
  background-size: 34px 36px !important;
  background-image: url(menu2active.svg) !important;
  width: 32px !important;
  /* height: 34px !important; */
  background-repeat: no-repeat !important;
}

.taskbox-new-CTA
span.composer-icon.right::before {
  content: "" !important;
  background-size: 34px 36px !important;
  background-image: url(menu2notactive.svg) !important;
  width: 32px !important;
  height: 34px !important;
  background-repeat: no-repeat !important;
}



.typing-indicator .typing-indicator-loader .typing-loader-circle {
    position: relative;
    top: -5px;
    width: 7px !important;
    height: 7px !important;
    border-radius: 16px;
    margin-right: 4px;
    background-color: #ce2a1e !important;
    animation: typing-indicator 1s ease-in-out infinite;
    animation-fill-mode: both;
}

.typing-indicator-loader .typing-loader-circle:nth-child(2) {
    width: 9px !important;
    height: 9px !important;
    top: -4px !important;
}

.taskbox-new-CTA {    
  padding: 0px 22px 8px 10px !important;
  height: unset !important;
}

.composer-icon.disabled::before {
  content: "" !important;
  background-size: 34px 34px !important;
  background-image: url(send_white.svg) !important;
  width: 100% !important;
  height: 36px !important;
  background-repeat: no-repeat !important;
  background: white;
}

.composer-icon::before {
  content: "" !important;
  background-size: 33px 33px !important;
  background-image: url(send_black.svg) !important;
  width: 100% !important;
  height: 36px !important;
  background-repeat: no-repeat !important;
  background: white;
}

.composer.v2 span.composer-icon{
  width: 39px;
}

.composer-icon svg{
  width: 0% !important;
  height: 0% !important;
}

.composer-branding {
  margin-top: 2px !important;
  margin-right: 2.5rem !important;
}

.fixed-bottom-area.v2 {
  bottom: 70px !important;
  background: none;
}

* {
  font-family: Roboto !important;
}
.typing-indicator-loader{
  visibility: hidden !important;
}

.typing-indicator-loader .typing-loader-circle{
  visibility: visible !important;
}

.typing-indicator{
  background-size: 15px 15px !important;
  background: url(Dream11smaller1.png) no-repeat !important;
  width: 15px !important;
  height: 30px !important;
  min-width: 80px !important;
}

/* Button Icon */

.hsl-actionable.message-section-message-button-actionable span::before {
  content: "" !important;
  padding: 0.8rem;
  background-size: 16px 16px !important;
  background-image: url(link.png) !important;
  width: 100% !important;
  height: 36px !important;
  background-repeat: no-repeat !important;
  background: #4d4d4d;
  padding-bottom: 0;
  padding-top: 0;
}

.hsl-actionable-text {
  font-size: 14px !important;
  /* font-weight: 500; */
}

.message-section-message-row.from-user+.message-section-message-row.from-business, .message-section-message-row.from-business+.message-section-message-row.from-user{
  margin-right: 4px !important;
}

.quick-reply-stacked,
.quick-reply-option-text.v2,
.hsl-button-text.v2,
.timeline-message-text.v2 {
  font-family: Roboto-Regular !important;
}


.task-new-title {
  font-family: Roboto-Regular !important;
  font-weight: 100 !important;
}

.header-v2-top-left-text-title {
  visibility: hidden !important;
}

.header-v2-wrapper {
  display: none !important;
}


@media screen and (max-height: 570px) {
  .taskbox-new-CTA span.composer-icon.right::before {
   
    height: 3.3rem !important;
    
}
.taskbox-new-CTA.active span.composer-icon.right::before {
  
  height: 3.3rem !important;
 
}
  
}

@media screen and (max-width: 340px) {
  .composer-wrapper.v2 {
   
    width: 87%;

  }
}

.hsl-carousel-elements-item{
  padding: 4px;
  background-color: white;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

iframe {
  border-radius: 16px !important;
}